.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1rem;
  width: 35rem;
  max-width: 100%;
  height: 22.8rem;
  max-width: 100%;
  background-color: #fff;
  border-radius: 6px;
}

.imageContainer img {
    position: absolute;
    top: -4rem;
    left: 1rem;
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
.imageContainer{
    position: relative;
}
.categories{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}