.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5964e0;
  background-image: url("../../../public/assets/desktop/bg-pattern-header.svg");
  background-position: center;
  padding: 4.4rem 21.4rem;
  border-radius: 0px 0px 0px 10rem;
}

.header button {
  border: none;
  background: none;
  color: #fff;
}

@media (max-width: 900px) {
  .header {
    padding: 4.4rem;
  }
}

@media (max-width: 500px) {
  .header {
    border-radius: 0;
  }
}
