:root {
  --body-primary--: #f4f6f8;
  --card-primary: #fff;
  --card-text-primary: #19202d;
  --card-category: #6e8098;
  --location-primary: #5964e0;
  --filter-primary: #fff;
  --body-secondary: #121721;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--body-primary--);
  position: relative;
}

a {
  text-decoration: none;
}

.darkMode {
  background: var(--body-secondary);
}


@media(max-width:1060px){
  html{
    font-size: 55.2%;
  }
}


@media(max-width:840px){
  html{
    font-size: 50%;
  }
}